// Import page-specific CSS files here. Index is considered the parent page of all scss files.
@import "home";
@import "show";
@import "login";

.robot-card {
  img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
  }
}

