// Specific CSS for your home-page
.show-page-container {
  min-height: 100vh;
  width: 100vw;
}

.container {
    margin-top:100px !important;

}

.review-card {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 16px;
  border-top: 1px solid lightgray;
}

.review-timestamp {
  color: gray;
}

.robot-hero-image{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.robot-info{
  justify-content: space-between;
}

.splide__slide {
  height: 500px;
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
