<div class="container">
  <div class="booking container">
  <div class="booking-info">
    <h1>Booking Details:</h1>

        <img src="<%=@robot.image_url%>", style= "height: 50%">

    <p><strong>Robot Model:</strong> <%= @robot.model %></p>
    <p> </p>
    <p><%= notice %></p>

    <%= link_to 'Back to Robots', robots_path %>
  </div>
  </div>

</div>
