

.new-booking-container {
  background-image: url('https://images.unsplash.com/photo-1526374965328-7f61d4dc18c5?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: contain;
  background-repeat: repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.coloring {
  background-color: white;
}

.img-properties-form {
  object-fit: contain;
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.dimension {
  height: 254px;
  text-align: center;
  vertical-align: center;
}

.font-form {
  font-family: "JetBrains Mono", "monospace";
}
